.class30 {
    width: 30px;
}

.class50 {
    width: 50px;
}

.class80 {
    width: 80px;
}

.class100 {
    width: 100px;
}

.class150 {
    width: 150px;
}

.class200 {
    width: 200px;
}

.class250 {
    width: 250px;
}

/*Form eos biet comment ntn*/
.cls_form_title {
    height: 31px;
    margin-top: 10px;
}

    .cls_form_title > img {
        float: left;
    }

.cls_form_image_header_img {
    float: left;
    margin-top: 2px;
}

.cls_form_header {
    float: left;
    margin: 6px 0px 0px 7px;
    font-weight: bold;
}


/*View thông tin popup*/
.clsTableForView {
    /*border-collapse: collapse;*/
    width: 100%;
}

    .clsTableForView td:last-child {
        width: 100%;
        padding-left: 30px;
    }

    .clsTableForView td {
        padding: 2.9px 10px;
        white-space: nowrap;
    }

    .clsTableForView tr:nth-child(odd) {
        background-color: #F3F3F3;
    }

.form-group {
    /*margin-bottom: 20px;*/
    /*margin-top: 10px;*/
    text-align: center;
}

.form-group-bottom {
    width: 100%;
    /*border-top: 1px solid #7b68ee;*/
    /*margin-top: 10px;*/
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.d-popup-footer {
    margin-top: 5px;
    /*border-top: 1px solid #a8a8a8;*/
    padding: 0px 20px 20px 5px;
    text-align: right;
    background-color: white;
}

    .d-popup-footer .btn {
        margin-left: 5px;
    }

/*form control*/
.form-control {
    background-color: #fff;
    background-image: none;
    border: 0.5px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    padding: 5px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    line-height: 1.42857143;
}

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

.form-control-success:focus {
    border-color: #66e96e !important;
}

.ui-datepicker-trigger {
    margin-top: 10px;
}

.redspan {
    color: red;
    font-style: italic;
}
.bluespan {
    color: blue;
    font-style: italic;
}
