
WIP/Program/.vs/AnThanh/v15/.suo
WIP/Program/.vs/AnThanh/v15/.suo
WIP/Program/.vs/AnThanh/v15/Server/sqlite3/storage.ide-shm
WIP/Program/.vs/AnThanh/v15/.suo
WIP/Program/.vs/AnThanh/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
*.config
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.config
*.pdb
*.txt
WIP/Program/.vs/AnThanh/v15/.suo
WIP/Program/.vs/AnThanh/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.cache
*.cache
*.cache
*.cache
*.ide-shm


# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
