@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Quản lý sản phẩm";
}
<div class="divCover divCover_Title">
    <div class="d-nav">
        <span class="fa fa-home"></span>&ensp;
        Đại lý
        <span>&ensp;>&ensp;</span>
        <a href="/phan_hang/quan_ly_phan_hang" class="green">Quản lý sản phẩm</a>
    </div>
</div>