@try
{
    <div class="divCover">
        <div class="divCover">
            <div class="col cols">
                <div class="border-10">
                    <div class="div-search-title-N">
                        <span>Kho đích <i class="redspan">(*)</i></span>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div>
                                <select id="cboImportObject">
                                    <option>kho đích</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col cols">
                <div class="border-10">
                    <div class="div-search-title-N">
                        <span>Ngày dự kiến kéo hàng từ ngày <i class="redspan">(*)</i></span>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div>
                                <input class="datepicker" type="text" id="txtDeliveryDate_From" placeholder="__/__/____" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col cols">
                <div class="border-10">
                    <div class="div-search-title-N">
                        <span>Ngày dự kiến kéo hàng đến ngày <i class="redspan">(*)</i></span>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div>
                                <input class="datepicker" type="text" id="txtDeliveryDate_To" placeholder="__/__/____" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col cols">
                <div class="border-10">
                    <div class="div-search-title-N">
                        <span>Số lượng<i class="redspan">(*)</i></span>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div>
                                <input type="text" name="txtAmount" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col cols">
                <div class="border-10">
                    <div class="div-search-title-N">
                        <span>Ngày hợp đồng<i class="redspan">(*)</i></span>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div>
                                <input class="datepicker" type="text" id="txtContractDate" name="ContractDate" placeholder="__/__/____" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col cols">
                <div class="border-10">
                    <div class="div-search-title-N">
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div>
                                <select id="cboSupplier" name="Supplier_Id">
                                    <option>Được bán tiếp</option>
                                    <option>Đã có kế hoạch sử dụng</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col cols">
                <div class="border-10">
                    <div class="div-search-title-N">
                        <span>Ghi chú</span>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div>
                                <textarea name="Notes" rows="3" cols="20" id="txtNotes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col cols">
                <div class="border-10">
                    <div class="div-search-title-N">
                        <span>Container được chọn</span>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div>
                                <select id="cboContainer_chose">
                                    <option>Container được chọn</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col cols">
                <div class="border-10">
                    <div class="div-search-title-N">
                        <span>Container chưa có lịch kéo</span>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div>
                                <select id="cboContainer_chose">
                                    <option>Container được chọn</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}catch(Exception ex)
{

}

