@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Quản lý sản phẩm";
}
<script src="~/Content/js/nvs.jquery.validate.data.js"></script>
<div class="divCover divCover_Title">
    <div class="d-nav">
        <span class="fa fa-home"></span>&ensp;
        Đại lý
        <span>&ensp;>&ensp;</span>
        <a href="/Product/Product/Product_Getpage" class="green">Quản lý sản phẩm</a>
    </div>
</div>
<div class="col-container border">
    <div class="d_left_content_TMDT col">
        <div class="divCover content_left">
            <div class="title_search">
                <span class="content_title">TÌM KIẾM SẢN PHẨM</span>
                <span class="icon_title">
                    <i class="fas fa-align-right"></i>
                </span>
            </div>
            <div class="content_search">
                <div class="div-search-title-N">
                    <span>Tên sản phẩm</span>
                </div>
                <div class="div-search-ad">
                    <div class="div-search-content">
                        <div>
                            <input data-controlcondition="TRUE" type="text" id="txt_Product_Text" class="input_search" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-search-btn">
                <input class="btn-default search" data-controlcondition="TRUE" type="button" value="Tìm kiếm" onclick="Product_Search(1, 1)" />
                <input class="btn-default addnew" data-controlcondition="TRUE" type="button" value="Thêm mới sản phẩm" onclick="Product_GetView_Insert()" />
            </div>
        </div>
    </div>
    <div class="d_right_content_TMDT col">
        <div class="divCover">
            <div class="title_table">
                <span class="content_title title-table">DANH SÁCH SẢN PHẨM </span>
                <a style="margin-left:400px;text-decoration:underline;" onclick="GotoViewImport();">Import danh sách</a>
            </div>
            <div id="divTable" class="divDataTables">
                @Html.Partial("~/Areas/Product/Views/Product/_Partial_List_Product.cshtml")
            </div>
        </div>
    </div>
</div>
<div id="divViewProduct" class="divWrapperPopup" style="display: none;">
    
</div>
<script type="text/javascript">
    var _frm = new FormData();
    function Product_GetView_Insert() {
        try {
            $.ajax({
                url: "/Product/Product/Product_View_Insert",
                type: 'GET',
                data: {  },
                async: true, cache: false, traditional: false,
                //beforeSend: function () {
                //    SpinLoading(true);
                //},
                success: function (data) {
                    var _flg = data['redirect'];
                    if (_flg != undefined && _flg != "") {
                        window.location = _flg;
                    } else {
                        $("#divViewProduct").html(data);
                        ShowPopupDialog("divViewProduct", "Thêm mới sản phẩm", 700, 0);
                    }
                },
                error: function () {
                }
                //,
                //complete: function () {
                //    SpinLoading(false);
                //}
            });
        } catch (e) {
            nvsError(null, "Lỗi thao tác !");
            return false;
        }
    }
    function Product_GetView_Update(p_product_id) {
        try {
            $.ajax({
                url: "/Product/Product/Product_View_Update",
                type: 'GET',
                data: { _productId: p_product_id },
                async: false, cache: false, traditional: false,
                //beforeSend: function () {
                //    SpinLoading(true);
                //},
                success: function (data) {
                    var _flg = data['redirect'];
                    if (_flg != undefined && _flg != "") {
                        window.location = _flg;
                    } else {
                        $("#divViewProduct").html(data);
                        ShowPopupDialog("divViewProduct", "Sửa thông tin sản phẩm", 700, 0);
                    }
                },
                error: function () {
                }
                //,
                //complete: function () {
                //    SpinLoading(false);
                //}
            });
        } catch (e) {
            nvsError(null, "Lỗi thao tác !");
            return false;
        }
    }
    function Product_Search(_isSearch, _currentPage) {
        try {
            // gán các giá trị mặc định
            _isSearch = _isSearch || 0;
            _currentPage = _currentPage || 1;


            // lấy cái điều kiện sort or search
            var p_RecordPage = $("#sltRecordPage").val() || 0;
            var p_OrderBy = "";
            var p_OrderType = "";
            var p_ProductText = "";

        
            //-------- nếu có giá trị search thì lấy
            //=------- cái else gán gt search từ chỗ nào đó qua mảng(chưa hiểu chỗ này cho lắm )
            if (_isSearch == 1) {
                p_ProductText = $("#txt_Product_Text").val();
            } 
            $.ajax({
                //url: "/ModuleProduct/Mark/Search_Page_Mark",
                url: "/Product/Product/Product_Search",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    _productText: p_ProductText, _recordpage: p_RecordPage, _currentpage: _currentPage
                }),
                async: true, cache: false, traditional: true,
                //beforeSend: function () {
                //    SpinLoading(true);
                //},
                success: function (data) {
                    var _flag = data['redirect'];
                    if (_flag != undefined && _flag != "") {
                        window.location = _flag;
                    } else if (data != null) {
                        $("#divTable").html(data);
                    } else {
                        nvsError(null, "Lỗi kết nối tới server !");
                        return false;
                    };
                },
                error: function () {
                }
                //complete: function () {
                //    SpinLoading(false);
                //}
            });
        } catch (e) {
            nvsError(null, "Lỗi thao tác !");
            return false;
        }
    }
    function Product_Insert() {
        try {
            e = window.event || e;
            e.preventDefault();
            if (Product_CheckValidate() == false) {
                return false;
            }

            $.ajax({
                url: "/Product/Product/Product_Insert",
                type: "POST",
                enctype: "multipart/form-data",
                processData: false, contentType: false,
                data: _frm,
                success: function (data) {
                    var _flag = data['redirect'];
                    if (_flag != undefined && _flag != "") {
                        window.location = _flag;
                    } else if (data.success >= 0) {
                        jAlert("Thêm mới sản phẩm thành công!", "THÔNG BÁO", function () {
                            CloseDivAllStock('divViewProduct');
                            Product_Search(1, 1);
                        });
                    } else {
                        nvsError(null, "Lỗi kết nối tới server !");
                        return false;
                    };
                },
                error: function () {
                },
                //complete: function () {
                //    SpinLoading(false);
                //}
            });
        } catch (e) {
            nvsError(null, "Lỗi thao tác !");
            return false;
        }
    };
    function Product_Update(p_Prodcut_Id) {
        try {
            e = window.event || e;
            e.preventDefault();
            if (Product_CheckValidate() == false) {
                return false;
            }
            _frm.append("Product_Id", p_Prodcut_Id);
            $.ajax({
                url: "/Product/Product/Product_Update",
                type: "POST",
                enctype: "multipart/form-data",
                processData: false, contentType: false,
                data: _frm,
                success: function (data) {
                    var _flag = data['redirect'];
                    if (_flag != undefined && _flag != "") {
                        window.location = _flag;
                    } else if (data.success >= 0) {
                        jAlert("Sửa thông tin sản phẩm thành công!", "THÔNG BÁO", function () {
                            CloseDivAllStock('divViewProduct');
                            Product_Search(1, 1);
                        });
                    } else {
                        nvsError(null, "Lỗi kết nối tới server !");
                        return false;
                    };
                },
                error: function () {
                },
            });
        } catch (e) {
            nvsError(null, "Lỗi thao tác !");
            return false;
        }
    };
    function Product_CheckValidate() {
        var p_Product_Code = $("#txtProduct_Code").val().trim();
        var p_Product_Name = $("#txtProduct_Name").val().trim();
        var p_Bravo_Code = $("#txtBravo_Code").val().trim();
        var p_Group_ID = $("#sl_Product_Group").val();
        var p_Note = $("#txtContent").val().trim(); 
        if (isEmpty(p_Product_Code)) {
            jError("Mã sản phẩm không được để trống!", "Lỗi", function () {
                $("#txtProduct_Code").focus().val("");
            });
            return false;
        }
        if (isEmpty(p_Product_Name)) {
            jError("Tên sản phẩm không được để trống!", "Lỗi", function () {
                $("#txtProduct_Name").focus().val("");
            });
            return false;
        }
        if (isEmpty(p_Bravo_Code)) {
            jError("Mã sản phẩm Bravo không được để trống!", "Lỗi", function () {
                $("#txtBravo_Code").focus().val("");
            });
            return false;
        }
        if (p_Group_ID === -1) {
            jError("Chưa chọn nhóm sản phẩm!", "Lỗi", function () {
                $("#sl_Product_Group").focus();
            });
            return false;
        }
        _frm = new FormData;
        _frm.append("Product_Code", p_Product_Code);
        _frm.append("Product_Name", p_Product_Name);
        _frm.append("Bravo_Code", p_Bravo_Code);
        _frm.append("Note", p_Note);
        _frm.append("Product_Group_Id", p_Group_ID);
        return true;
    }
    function Product_Deleted(p_Product_Id) {
        jConfirm('Bạn có chắc chắn xóa sản phẩm này', function () {
            $.ajax({
                url: "/Product/Product/Product_Deleted",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ _productId: p_Product_Id }),
                async: true, cache: false, traditional: true,
                success: function (data) {
                    var _flag = data['redirect'];
                    if (_flag != undefined && _flag != "") {
                        window.location = _flag;
                    } else if (data.success == 0) {
                        jAlert("Xóa sản phẩm thành công!", "THÔNG BÁO", function () {
                            Product_Search(1, 1);
                        });
                    }
                    else {
                        showError("Lỗi kết nối tới server!");
                        return false;
                    };
                },
                error: function () {
                }
            });
        })
        
    }
    //Import Excel
    function GotoViewImport(id) {
        try {
            $.ajax({
                type: 'POST',
                url: '/Product/Product/GotoViewImport',
                dataType: "html",
                data: {
                }
                , async: false, cache: false, traditional: true,
                success: function (data) {
                    $("#divViewProduct").html(data);
                    ShowPopupDialog('divViewProduct', 'IMPORT THÔNG TIN SẢN PHẨM', 800, 1000, '');
                    $("#btnExitPopups img").attr("src", '/images/icon/delete.png');
                }
            });
        } catch (e) {
            alert(e);
        }
    }
    function Click_Upload_File() {
        var _id_file = "file_import";
        document.getElementById(_id_file).click();
    }
    function import_file() {
        try {
            var file_import = document.getElementById("file_import").files[0];
            var data = new FormData();
            data.append("fileImport", file_import);
            if (file_import == "" || file_import == null) {
                showError("Chọn file !");
                return false;
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Product/Product/Import_file_excel',
                    type: 'POST',
                    data: data,
                    processData: false,
                    contentType: false,
                    traditional: true,
                    async: false,
                    headers: { "cache-control": "no-cache" },
                    success: function (data) {
                        if (data == -1) {
                            jError("Thêm mới thất bại");
                            return false;
                        } else if (data == -4) {
                            jError("Không có dữ liệu để import !");
                            return false;
                        }
                        else if (data == -3) {
                            jError("Định dạng tệp không đúng !");
                            return false;
                        }
                        else {
                            CloseDivAllStock('divViewProduct');
                            Product_Search(1, 1);
                            jAlert('Thêm mới thành công!', 'Thông báo');
                        }
                    }
                });
            }
        } catch (e) {
            alert(e);
        }
    }
    function checkfile(sender) {
        var validExts = new Array(".xlsx", ".xls");
        var fileExt = sender.value;
        txt_img = sender.files[0].name;
        var _id_file = document.getElementById("file_name");
        _id_file.innerHTML = txt_img;
        _id_file.classList.add("upload_file");

        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Định dạng tệp không đúng, chọn file " +
                validExts.toString() + " types.");
            return false;
        }
        else return true;
    }
</script>