<div class="classFooter-conent">

    <div class="d-footer-content" style="width:378px">
        <huygo>  Trụ sở chính: Số 02, Phan Chu Trinh, Hoàn Kiếm, Hà Nội</huygo>
    </div>
    <div class="d-footer-content" style="width: 800px">
       <huygo>Email: marketinfo@hnx.vn</huygo>
    </div>
    <div class="d-footer-content" style="width:398px">
       
        <huygo>
            Điện thoại: (84-4)39412626 hoặc (84-4)39360750
        </huygo>
    </div>

    <div class="d-footer-content" style="width:389px">
       
        <huygo>
            Fax: (84.4)39347818
        </huygo>
    </div>
    <div class="d-footer-content" style="float:right">
        <huygo> Copyright &copy; SỞ GIAO DỊCH CHỨNG KHOÁN HÀ NỘI </huygo>
    </div>
</div>

