
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@try
{
    <div id="divStepProgress" style="margin-top: 20px;">
        @Html.Partial("~/View/Areas/ToDo/Views/ToDo/_Partial_ToDo_Process.cshtml")
    </div>

    //div action

    //div list to do

}
catch (Exception)
{
    //ignore
}


