


@{
    ViewBag.Title = "Thêm mới";
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    /*.div-search-title > div {
        width: 200px;
    }*/
</style>
<div class="divPopup">

    <div class="d-main">
        <div class="" style="padding:5px 38px 27px 38px">
            <form id="_FormRegisterRank">
                <div class="divCover">
                    <div class="div-search-col">
                        <div class="div-search-title-N">
                            <span>Mã sản phẩm*</span>
                        </div>
                        <div class="div-search-ad">
                            <div class="div-search-content">
                                <div>
                                    <input data-controlcondition="TRUE" type="text" id="txtPort_Code" class="input_search" maxlength="250" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div-search-col">
                        <div class="div-search-title-N">
                            <span>Tên sản phẩm*</span>
                        </div>
                        <div class="div-search-ad">
                            <div class="div-search-content">
                                <div>
                                    <input data-controlcondition="TRUE" type="text" id="txtPort_Name" class="input_search" maxlength="250" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div-search-col">
                        <div class="div-search-title-N">
                            <span>Nhóm sản phẩm*</span>
                        </div>
                        <div class="div-search-ad">
                            <div class="div-search-content">
                                <div>
                                    <select id="sl_PortType">
                                        <option value="1">Cảng nhập</option>
                                        <option value="2">Cảng xuất</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div-search-col">
                        <div class="div-search-title-N">
                            <span>Mô tả*</span>
                        </div>
                        <div class="div-search-ad">
                            <div class="div-search-content">
                                <div>
                                    <input data-controlcondition="TRUE" type="text" id="txtContent" class="input_search" maxlength="250" />
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="div-search-col-2">
                            <div class="div-search-col floatleft">
                                <div class="div-search-title-N">
                                    <span>Nhóm sản phẩm*</span>
                                </div>
                                <div class="div-search-ad">
                                    <div class="div-search-content">
                                        <div>
                                            <input data-controlcondition="TRUE" type="text" id="" class="input_search" maxlength="250" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="div-search-col-50 floatright width49">
                                <div class="div-search-title-N">
                                    <span>Số điểm thưởng mua hàng*</span>
                                </div>
                                <div class="div-search-ad">
                                    <div class="div-search-content">
                                        <div>
                                            <input data-controlcondition="TRUE" type="text" id="" class="input_search" maxlength="250" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="form-group-bottom">
                    <input type="button" class="btn-default clsRegisterStocks" value="Chấp nhận" onclick="Port_Insert();" style="margin-right:10px;" />
                    <input type="button" class="btn-default" value="Thoát" onclick="CloseDivAllStock('divViewPort')" style="width: auto;" />
                </div>
            </form>
        </div>
    </div>
</div>